/* devices breakpoints */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* colours */
$primaryColour-dark: #040d12;
$primaryColour-accent: #183d3d;
$primaryColour-medium: #5c8374;
$primaryColour-light: #93b1a6;
