/* devices breakpoints */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* colours */
$primary-background-colour: #e2faf2;
$primary-colour-dark: #040d12;
$primary-colour-accent: #183d3d;
$primary-colour-medium: #5c8374;
$primary-colour-light: #93b1a6;

$secondary-background-colour: #ffffff;
$secondary-colour-dark: #000000;
$secondary-colour-accent: #800080;

$third-colour-accent: #83764f;

$box-shadow-colour: #707070;
$disable-colour: #aaa;
