@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.header {
	width: 100%;
	background-color: $primary-colour-accent;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.6rem;
	align-items: center;
	padding: 1.6rem;

	@include tablet {
		flex-direction: row;
		justify-content: space-between;
		@include paddingSidesEvenly(3.6rem);
		@include paddingTopAndBottomEvenly(2rem);
	}

	@include desktop {
		@include paddingSidesEvenly(10.8rem);
	}
}

.header > .logo {
	order: 1;
	margin: auto;

	@include tablet {
		order: 0;
		margin: 0;
	}
}

.header > .avatar {
	order: 2;

	@include tablet {
		order: 0;
	}
}

.nav-bar {
	width: 100%;
	display: flex;
	order: 3;

	@include tablet {
		width: auto;
		order: 0;
		margin-left: auto;
	}
}

.nav-bar > a {
	flex: 1;

	@include tablet {
		flex: 0;
	}
}
