@import "../../styles/partials/mixins";

.plant-list {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;

	@include tablet {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.load-more-button {
	margin: 0 auto;
	display: block;
	margin-top: 2.4rem;

	@include tablet {
		margin-top: 3.6rem;
	}
}
